/* Colors */
:root {
  --white: #ffffff;
  --blue: #0c2a66;
}

/* General */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--white);
  background-color: var(--blue);
  scroll-behavior: smooth;
  font-size: 0.9375vw;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.tac {
  text-align: center;
}

/* Picture */
picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

picture img {
  position: relative;
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

/* Page Title */
.page-title {
  position: relative;
  padding: 1.5em 0;
}

.page-title strong {
  font-size: 1.111em;
}

/* Headers */
header {
  position: relative;
  max-width: 33.333em;
  margin-left: auto;
  margin-right: auto;
}

h1,
.page-title strong {
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
}

header h1 {
  font-size: 3.333em;
}

/* Search Input */
h1 + input {
  margin-top: 15%;
}

input {
  width: 100%;
  font-size: 1rem;
  padding: 0.833em 1.111em 0.833em 2.5em;
  background-color: #ffffff;
  color: rgb(197, 197, 197);
  border: none;
  outline: none;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
