/* Colors */
:root {
    --white: #ffffff;
    --blue: #0c2a66;
    --gray: #c5c5c5;
    --transition-time: 0.6s;
    --transition-timing-function: ease;
    --transition-delay: 0s;
}

/* General */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: var(--white);
    background-color: var(--blue);
    scroll-behavior: smooth;
    font-size: 0.9375vw;
    padding: 1.333rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tac {
    text-align: center;
}

.frosted-bg {
    border-radius: 0.556rem;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
}

/* Picture */
picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

picture img {
    position: relative;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}

/* Page Title */
.page-title {
    position: relative;
    opacity: 0;
    visibility: hidden;
}

.loaded .page-title {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transition-time) var(--transition-timing-function)
            var(--transition-time),
        visibility var(--transition-delay) var(--transition-timing-function)
            var(--transition-delay);
}

.page-title strong {
    font-size: 1.111em;
}

/* Headers */
.page-title + header {
    padding-top: 4em;
    transform: translateY(8.278em);
}

.loaded .page-title + header {
    transform: translateY(0);
    transition: transform var(--transition-time)
        var(--transition-timing-function) var(--transition-delay);
}

header {
    position: relative;
    max-width: 33.333em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    opacity: 1;
    visibility: visible;
}

.loaded h1 {
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-time) var(--transition-timing-function)
            var(--transition-delay),
        visibility var(--transition-delay) var(--transition-timing-function)
            var(--transition-time);
}

h1,
.page-title strong {
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

header h1 {
    font-size: 3.333em;
}

/* Search Input */
h1 + form {
    transform: translateY(6.222em);
}

.loaded h1 + form {
    transform: translateY(0);
    transition: transform var(--transition-time)
        var(--transition-timing-function) var(--transition-delay);
}

form {
    position: relative;
}

input {
    width: 100%;
    font-size: 1em;
    font-family: var(--font);
    padding: 0.833em 1.111em 0.833em 2.5em;
    background-color: #ffffff;
    color: rgb(197, 197, 197);
    border: none;
    outline: none;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.search-icon {
    position: absolute;
    left: 0.889em;
    top: 50%;
    width: 1em;
    height: 1em;
    color: var(--gray);
    transform: translateY(-50%);
}

.search-icon svg {
    display: block;
    fill: currentColor;
    transition: color var(--transition-time) var(--transition-timing-function)
        var(--transition-delay);
}

/* Weather Info Container */
.weather-container {
    position: relative;
    max-width: 83.333em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.522em;
    opacity: 0;
    visibility: hidden;
}

.loaded .weather-container {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transition-time) var(--transition-timing-function)
            var(--transition-delay),
        visibility var(--transition-delay) var(--transition-timing-function)
            var(--transition-delay);
}

.weather-container > .half {
    width: calc(50% - 0.556em);
}

/* Weather Info Header */
.weather-header {
    width: 100%;
    margin-bottom: 1.111em;
}

.weather-header > * {
    display: block;
}

.weather-header > * + * {
    margin-top: 0.444em;
}

.weather-header strong {
    font-size: 2.889em;
    font-weight: 600;
}

.weather-header span {
    font-size: 1.444em;
}

/* Weather Now */
.weather-now {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-now .half {
    width: calc(50% - 0.833em);
    flex: 0 1 auto;
}

.weather-now-icon {
    text-align: right;
}

.weather-now .weather-now-icon svg {
    all: unset;
    width: 50%;
}

.weather-now-info * {
    display: block;
    line-height: 1.2;
}

.weather-now-info strong {
    font-size: 6.111em;
    font-weight: 400;
}

.weather-now-info span {
    font-size: 1.444em;
}

.weather-now-info strong + span {
    margin-top: 0.111em;
}

/* Weather Results */
.weather-results {
    padding: 1.944em;
}

.weather-results ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weather-results li {
    width: calc(33.333% - 1em);
    text-align: center;
}

.weather-results li:nth-child(n + 3) ~ li {
    margin-top: 2.368em;
}

.weather-results li > * {
    display: block;
}

.weather-results li > * + * {
    margin-top: 0.222em;
}

.weather-results li strong {
    font-size: 1.444em;
    font-weight: 400;
}

.weather-results li span {
    font-size: 1.056em;
}

/* Weather Forecast */
.weather-forecast {
    position: relative;
    width: 100%;
    max-width: 83.333em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.222em;
}

.weather-forecast > strong {
    font-size: 1.611em;
    font-weight: 400;
}

.weather-forecast strong + ul {
    margin-top: 1.333em;
}

.weather-forecast ul {
    display: flex;
    overflow: auto;
    padding-bottom: 1.111em;
}

.weather-forecast ul::-webkit-scrollbar {
    width: 0.667em;
    height: 0.667em;
    background: var(--blue);
    border-radius: 0.667em;
}

.weather-forecast ul::-webkit-scrollbar-track {
    background: none;
}

.weather-forecast ul::-webkit-scrollbar-thumb {
    border: solid 0.111em transparent;
    background-clip: padding-box;
    border-radius: 0.667em;
    background-color: var(--white);
}

.weather-forecast ul::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.weather-forecast ul::-webkit-scrollbar-corner {
    background-color: transparent;
}

.weather-forecast li {
    flex: 0 0 auto;
    padding: 1em 0.444em;
    width: 7.778em;
}

.weather-forecast li > * {
    display: block;
}

.weather-forecast li > * + * {
    margin-top: 0.25rem;
}

.weather-forecast li + li {
    margin-left: 0.556em;
}

.weather-forecast li span {
    font-size: 1.056em;
}

.weather-forecast li img {
    margin-left: auto;
    margin-right: auto;
    width: 2.778em;
    aspect-ratio: 1 / 1;
}

.weather-forecast li strong {
    font-size: 1.444em;
    font-weight: 400;
}
