/* Colors */
:root {
  --white: #ffffff;
  --blue: #0c2a66;
}

/* General */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--white);
  background-color: var(--blue);
  scroll-behavior: smooth;
}

.tac {
  text-align: center;
}

/* Headers */
header {
  position: relative;
}

h1 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

/* Picture */
picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

picture img {
  position: relative;
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}
